.securityTab {
    padding: 24px;
}

.deleteAccountButton {
    background-color: #25262B;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 00px 20px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    cursor: pointer;
}