.form {

}
.logo{
    margin: 0 auto;
}
.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.wrapper {
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    width: 100%;
    max-width: 350px;
}